*

!.gitignore

# whitelist `src` directories and their children, regardless of place
!src/
!src/**/
!src/**/*.rs
!Cargo.{toml,lock}

!assets/
!assets/**/
!assets/**/*

# whitelist oustide of src:
!index.html
!mq_js_bundle.js
!starfield-shader.glsl
!.github/
!.github/**/
!.github/**/*

!README.md
!LICENSE
