*

!.gitignore

# whitelist `src` directories and their children, regardless of place
!src/
!src/**/
!src/**/*.rs
!Cargo.{toml,lock}

# whitelist oustide of src:
!index.html
!mq_js_bundle.js
!.github/
!.github/**/
!.github/**/*

!README.md
!LICENSE
